// _ al inicio significa que es un archivo SCSS secundario

//tipografia
$fuente_principal: 'Montserrat', sans-serif;

//colores
$verde: #4cb8b3;
$rojo: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;

