@use 'base/mixins' as m;
@use 'base/variables' as v;

.sobre-festival{
    display: grid;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 0;
    
    @include m.tablet{
        @include m.grid(2, 5rem);
    }

    img{
        border-radius: 1rem;
    }
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;


    h2{
        margin: 1rem 0 0 0;
    }

    .fecha{
        color: v.$rojo;
        font-weight: 700;
        margin: 1rem;
    }
    
}